
@{
    ViewBag.Title = "References";
}
<b>@Html.ActionLink("Home", "Home")</b>
&emsp;
<b>@Html.ActionLink("Profile", "Profile")</b>
&emsp;
<b>@Html.ActionLink("Education", "Education")</b>
&emsp;
<b>@Html.ActionLink("Projects", "Projects")</b>
&emsp;
<b>@Html.ActionLink("References", "References")</b>

<h2>References</h2>
<br>
<br>
<br>
Name : @ViewBag.Rname
<br>
Contact Info : @ViewBag.Rcontact

