
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>
<br>
<br>
<br>
<b>@Html.ActionLink("Home", "Home")</b>
&emsp;
<b>@Html.ActionLink("Profile", "Profile")</b>
&emsp;
<b>@Html.ActionLink("Education", "Education")</b>
&emsp;
<b>@Html.ActionLink("Projects", "Projects")</b>
&emsp;
<b>@Html.ActionLink("References", "References")</b>
